.mediciones-label {
    font-size: large;
}

.dash-graph {
    height: 735px;
}

.dash-dropdown {
    padding-bottom: 15px;
}

.mediciones-parrafo {
    margin-top: 10px;
    margin-bottom: 15px;
}

.mediciones-parrafo p{
    font-size: 20px;
    text-align: justify;
}

.mediciones-titulo-secundario {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}