.archivos_parrafo {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    text-align: justify;
}

#simulaciones-button {
    color: black;
}

.archivos-descargas-btn {
    background-color: #caffff;
    border: #0072C6 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    height: 60px;
    text-align: center;
    width: 200px;
    transition: all .3s;
}

.archivos-descargas-btn:hover {
    background-color: #0072C6;
}

.archivos-descargas-btn:hover:active {
    background-color: #5aa0f9;
}

.archivo-link {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: center;
}




