/* MAIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* overflow-x: hidden; */
}

.dash-debug-menu__outer,
.dash-debug-menu {
    display: none !important;
}

/* CONTAINERS */
.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.menu-container {
    background: #0072C6;
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    z-index: 999;
}

.content-container {
    width: 100%;
    margin-left: 300px;
    background-color: #f5f5f5;
}

.mediciones-container {
    padding: 30px;
    width: 1560px;
    background-color: #f5f5f5;
}

.inicio-container {
    padding: 30px;
    width: 1560px;
    background-color: #f5f5f5;
}

.informe-container {
    padding: 30px;
    width: 1560px;
    background-color: #f5f5f5;
}

.archivos-container {
    padding: 30px;
    width: 1560px;
    background-color: #f5f5f5;
}

.linea-de-tiempo-container {
    padding: 30px;
    width: 1560px;
    background-color: #f5f5f5;
}

/* SLIDERBAR MENU */
.menu-container h2 {
    height: 100px;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #5aa0f9;
}

.menu-container h2 a {
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    position: relative;
    padding: 20px;
}

.nav-links li {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    font-size: 20px;
    display: flex;
}

.nav-links li i {
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

.active {
    background: #5aa0f9;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    z-index: -1;
    display: none;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 6%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 19.5%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 33%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 46%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 59.5%;
}

.nav-links li:nth-child(6):hover~.active {
    top: 73%;
}

.nav-links li:nth-child(7):hover~.active {
    top: 86.5%;
}

/* TEXT */
.content-title {
    padding-bottom: 30px;
    font-size: 35px;
    color: #333333;
}

MEDICIONES
.mediciones-label {
    font-size: large;
}

.dash-graph {
    height: 735px;
}

.dash-dropdown {
    padding-bottom: 15px;
}

.mediciones-parrafo {
    margin-top: 10px;
    margin-bottom: 15px;
}

.mediciones-parrafo p {
    font-size: 20px;
    text-align: justify;
}

.mediciones-titulo-secundario {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* INICIO */
.inicio-container h2 {
    text-align: center;
    font-size: 25px;
}

.inicio-parrafos-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.inicio-parrafo-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.inicio-parrafo {
    font-size: 20px;
    text-align: justify;
}

.inicio-parrafos-container h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.inicio-parrafos-container ul li {
    font-size: 20px;
    list-style-type: square;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
}

/* INFORME TÉCNICO */
.informe-parrafo {
    font-size: 20px;
    text-align: justify;
}

.informe {
    margin-top: 25px;
    width: 1500px;
    height: 800px;
}

/* ARCHIVOS */
.archivos_parrafo {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    text-align: justify;
}

#simulaciones-button {
    color: black;
}

.archivos-descargas-btn {
    background-color: #caffff;
    border: #0072C6 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    height: 60px;
    text-align: center;
    width: 200px;
    transition: all .3s;
}

.archivos-descargas-btn:hover {
    background-color: #0072C6;
}

.archivos-descargas-btn:hover:active {
    background-color: #5aa0f9;
}

.archivo-link {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: center;
}

/* LÍNEA DE TIEMPO */
.timeline-slider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.timeline-content {
    margin-top: 15px;
    margin-bottom: 15px;
    /* font-size: 20px; */
}

.timeline-content p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.mediciones-titulo-secundario {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* INFORME LEGAL */
.informe-parrafo {
    font-size: 20px;
    text-align: justify;
}

.informe {
    margin-top: 25px;
    width: 1500px;
    height: 800px;
}

/* INFORME FINAL */
.informe-parrafo {
    font-size: 20px;
    text-align: justify;
}

.informe {
    margin-top: 25px;
    width: 1500px;
    height: 800px;
}

